// _base.scss
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

// Font variables
$space-grotesque: "Work Sans", sans-serif;
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

// Styles
body,
html {
    font: 100% $space-grotesque;
    margin: 0;
    background-color: #f4f4f4;
}

button {
    font-family: 100% $space-grotesque;
    font-weight: 700;
}
