p,
a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    color: #000000;
}

input {
    font-family: "Inter", sans-serif;
    color: #9da6ba;
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
}
