.profile-overview-container {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    min-height: 500px;
    height: 100%;
    width: 100%;
    background: white;
    border-style: none;
    border-radius: 14px;

    .title {
        padding-left: 20px;
    }

    .user-content {
        img {
            padding-left: 15px;
        }

        .user-name {
            padding-left: 20px;
        }

        .user-info {
            padding-left: 20px;
            margin-bottom: 18px;

            a {
                color: #1767a5;
                text-decoration: none;
            }
        }

        .courses-list {
            padding-left: 20px;
            display: flex;
            flex-direction: column;

            p {
                margin-top: 0;
            }

            .assign-courses {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                padding-right: 20px;
                padding-bottom: 20px;

                button {
                    border-radius: 14px;
                    background-color: #f28033;
                    border-style: none;
                    color: #ffffff;
                    padding: 12px;
                }

                select {
                    border-radius: 14px;
                    padding: 8px;
                    width: 100%;
                    max-width: 210px;
                }
            }
        }
    }
}