.recomended-courses-container {
    display: flex;
    max-width: 705px;
    max-height: 194px;
    height: 100%;
    width: 100%;
    background: white;
    border-style: none;
    border-radius: 14px;

    h2 {
        padding-left: 20px;
    }
}